/* Page Setup
--------------------------------
*/

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: 'Orbitron', sans-serif;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.723);
}

.wrapper > * {
    padding: 0px;
    margin: 0px;
    border-radius: 0;
}

/* Header
--------------------------------
*/

.header {
    background-color: #d5f8f7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
}

.logo {
    width: 8rem;
    height: auto;
}

.header-links {
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    display: flex;
    color: #FF8C00;
    gap: 2rem;
    margin-right: 1rem;
}

/* Body
-------------------------------
*/

.title {
    color: white;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 0px -1px black, 1px 0px black, 0px 1px black, -1px 0px black;
}

.calculator-body {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    width: min(90%, 60rem);
    background-color: black;
    margin-inline: auto;
    border: 2px solid #FF8C00;
    border-radius: 4px;
    padding-block: 2rem;
    padding: 1rem;
}

/* Light/Dark Mode Switch
-------------------------------
*/

.toggle-control {
    display: block;
    position: relative;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.toggle-control input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.toggle-control input:checked ~ .control {
    background-color: #FF8C00;
}
.toggle-control input:checked ~ .control:after {
    left: 55px;
}
.toggle-control .control {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: darkgray;
    transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: white;
    transition: left 0.15s ease-in;
}

/* Other Calculator Items
-------------------------------
*/

.calculator-screen {
    grid-column: span 3;
    background-color: #8E9C97 ;
    text-align: right;
    padding: 1rem;
    font-size: 24px;
}

.buttons {
    border-radius: 25px;
    padding: 1rem;
    font-size: 24px;
    border: none;
    color: white;
}

.operator {
    background-color: #FF8C00;
}

.number {
    background-color: gray;
}

.clear {
    grid-column: span 2;
}